#everything {
  margin-top: 150px;
}

#everything img {
  box-shadow: 0px 0px 20px 8px #cec3b1;
  width: 100%;
  height: auto;
  transition: 0.3s;
} /*to distinguish from the logo img*/

body {
  margin: 0;
  background-color: #dcc6ae; /*in case the image doesn't load*/
  background: url(photos/bg.png) no-repeat fixed;
  background-size: cover;
  background-position: 0% 50%; /*horizontal, vertical*/
  font-family: "Amatic SC", cursive;
  font-family: "Annie Use Your Telescope", cursive;
}

#title {
  font-family: "Fredericka the Great", cursive; /*Title "Choose Your Order"/"Fill out your data"*/
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
  margin: 1em 0;
}

#containerOrder,
#containerForm {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 4em;
}

legend {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 2em;
}

fieldset {
  border: 1px solid #666633;
  border-radius: 8px;
  margin: 25px 10px;
  
}

th,
td {
  padding: 0.5em 0.6em;
  font-size: 1.5em;
}

.price {
  width: 100%;
  text-align: left;
  font-size: 0.9em;
} /*to distinguish font size from the product title*/

#containerOrder select {
  width: 80%;
  padding: 0.7em;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #8c8c8c;
}

option {
  color: #000000;
}

input,
select {
  width: 25%;
  padding: 10px 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, Verdana, sans-serif;
}

p {
  font-size: 1.5em;
}

textarea {
  width: 30%;
  height: 150px;
  padding: 10px 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  font-family: Arial, Verdana, sans-serif;
}

#containerButtons {
  width: 80%;
  margin: 0 auto 100px auto;
}

input[type="submit"],
input[type="reset"] {
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  padding: 8px;
  margin: 0 140px; /*space between the buttons*/
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  box-shadow: 0px 0px 18px 3px #c5a0a3; /*h-offset, v-offset, blur radius, spread radius*/
}

#everything img:hover {
  box-shadow: 0px 0px 18px 3px #9e6166;
}

@media (max-width: 800px) {
  #everything {
    display: flex;
    flex-direction: column;
  }

  #containerOrder,
  #containerForm {
    margin: 0.5em 0;
    padding: 0.5em;
  }

  td {
    padding: 0.5em 0.6em;
    font-size: 1.2em;
  }
}
